.cell {
  min-width: 20px;
  min-height: 20px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cell textarea {
  resize: none;
  outline: none;
  border: none;
  margin: 2px;
  padding: 2px;
  min-height: 20px;
  vertical-align: top;
}

.cell .border {
  position: absolute;
  background: #ddd;
  overflow: hidden;
}

.cell .top.border {
  height: 1px;
  top: -0.5px;
  left: 0;
  right: 0;
}
.cell .left.border {
  width: 1px;
  left: -0.5px;
  top: 0;
  bottom: 0;
}
.cell .right.border {
  width: 1px;
  right: -0.5px;
  top: 0;
  bottom: 0;
}
.cell .bottom.border {
  height: 1px;
  bottom: -0.5px;
  left: 0;
  right: 0;
}

/* Gives the grid lines a slightly larger hit-box */
.cell .border.bottom:after,
.cell .border.top:after {
  content: "";
  background: transparent;
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: 0;
  left: 0;
  z-index: 50;
}
.cell .border.left:after,
.cell .border.right:after {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  left: -2px;
  z-index: 50;
}

.cell .border:focus {
  z-index: 20;
  border: solid 1px black;
  outline: none;
}
.cell .border.selected {
  border: solid 1px black;
}

.cell .cell-inner {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  flex: 1 1 0;
}
.cell .cell-inner:focus {
  outline: none;
}
.cell .cell-inner .overlay {
  z-index: 10;
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  right: -1.5px;
  bottom: -1.5px;
}
.cell .cell-inner:focus-within .overlay {
  border: solid black 2px;
}

.cell .cell-inner:focus textarea,
.cell .cell-inner:focus-within textarea {
  position: relative;
  z-index: 150;
}

.cell .grid {
  margin: 10px;
}