.cell {
  min-width: 20px;
  min-height: 20px;
  position: relative;
}

.cell textarea {
  resize: none;
  outline: none;
  border: none;
  vertical-align: top;
  margin: 2px;
}

.cell .border {
  position: absolute;
  outline-color: black;
  background: #ddd;
}
.cell .top.border {
  height: 1px;
  top: -0.5px;
  left: 0;
  right: 0;
}
.cell .left.border {
  width: 1px;
  left: -0.5px;
  top: 0;
  bottom: 0;
}
.cell .right.border {
  width: 1px;
  right: -0.5px;
  top: 0;
  bottom: 0;
}
.cell .bottom.border {
  height: 1px;
  bottom: -0.5px;
  left: 0;
  right: 0;
}
.cell .border:focus {
  z-index: 10;
}
.cell .border.selected {
  border: solid 1px black;
}